*
{
   box-sizing: border-box; 
}

.noCenterHeadingActive
{
    
    display: flex;
    /* border: 3px solid green; */

}

.noCenterHeadingActive h2
{
    padding-left: 30px;
    color: #4CBB17;
    /* color: #32CD32; */
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 1.5px;
  
}
/*
.noCriteriaWhole h1
{
    color: red;
     border: 3px solid green; 
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-thickness: 4px;
    border: 2px solid purple;
} */



.navbar
{
    display: flex;  
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 2px solid black; */
    /* width: 100%; */
}


.navLeftButton
{
    display: flex;
    /* border: 2px solid green;  */
    flex: 0%;
} 

.navLeftButton a
{
    display: flex;
    margin-left: 17px;
    /* width: 80px; */
    width: 65px;
    height: 28px;
    justify-content: center;
    align-items: center;
    background-color: #191970;
    color: white;
    font-size: 15.5px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.navLeftButton a:hover
{
    background-color: #FFBF00;
    color: black;
    border: 2.5px solid black;
}

.navRight
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid purple; */
    flex: 100%;
}

.navRight span
{
   color: red;
   font-size: 28px;
   font-weight: 700;
   text-decoration: underline;
   text-decoration-color: black;
}




.noCenterActiveContent ul
{
    /* padding-left: 30px; */
    text-decoration: none;
    color: black;
    list-style-type: square;
}

.noCenterActiveContent a
{
    /* padding-left: 30px; */
    text-decoration: none;
    color: black;
}


.noCenterExpiredContent ul
{
    /* padding-left: 30px; */
    text-decoration: none;
    color: black;
    list-style-type: square;
}

.whole
{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    /* border: 2px solid rgb(56, 6, 6); */
}


.leftHalf
{
    display: flex;
    padding-left:45px;
    flex: 60%;
    /* border: 3px solid red; */

}



.rightHalf
{
    display: flex;
    justify-content: flex-end; 
    /* border: 3px solid red; */
    flex: 40%;
    padding-right:100px;

}

.naming
{
    /* border: 3px solid green; */
    display: flex;
    justify-content: flex-start;
    word-wrap: break-word;
}

.naming span
{
    background-color: yellow;
    color: black;
    font-weight: 550;
    word-wrap: break-word;
}



.dated
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    color: black;
    
    /* border: 3px solid red; */
    
}

.buttonDesign
{
 
    display: flex;
    justify-content: flex-end;
    /* border: 3px solid green; */
       
}

.deadline
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:red;
    font-size: large;
    font-weight: 700;
    padding-left: 20px;
    cursor: pointer;
    /* border: 3px solid purple; */
}


.buttonDesign a
{
  
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    width: 80px;
    height: 28px;
    justify-content: center;
    align-items: center;
    background-color: #191970;
    color: white;
    font-size: 13px;
    border-radius: 7px;
    cursor: pointer;
    /* border: 3px solid purple; */

}

hr
{
    width: 100%;
    color: black;
}

.noCenterExpiredContent a
{
    /* padding-left: 30px; */
    text-decoration: none;
    color: black;
}


.noCenterHeadingExpired h2
{
    padding-left: 30px;
    color: red;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 1.5px;
}




@media (max-width: 835px)
{
    .navbar
    {
        flex-direction: column;
    }

    .navRight
    {
        margin-top: 12px;
    }

    .whole
    {
        border: 3px solid black;
        padding: 0;
        
    }

    .leftHalf
    {
        padding-left: 35px;
    }

    .rightHalf
    {
       
        justify-content: center;
        align-items: center;
        border: 3px solid #FFBF00;
        margin-top: 5px;
        padding-right: 0;
    }

    .noCenterActiveContent ul
    {
        list-style-type: none;
        padding: 0;
    }

    .noCenterHeadingActive
    {
        justify-content: center;
    }


}

